<% tmp = current_admin? ? [:admin, @user] : @user %>
<%= form_for tmp do |f| %>
  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div>
    <%= f.label :firstname, "First Name" %><br>
    <%= f.text_field :firstname, class: "form-control", placeholder: "First Name" %>
  </div>
  <div>
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
  </div>
  <% if current_admin? %>
    <div>
      <%= f.label :admin %>
      <%= f.check_box :admin, class: "checkbox" %>
    </div>
  <% end %>
  <br>
  <div><%= f.submit "Submit", class: "btn btn-info btn-block" %></div>
<% end %>