<!DOCTYPE html>
<html>
  <head>
    <title>RottenMangoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Mirza" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/notice'%>
    <section class="container">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
